* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5rem;
}

nav,
h1,
h2 {
  font-family: "Raleway", sans-serif;
}

/* ============ nav style ============ */
nav {
  margin: 20px;
  display: flex;
}
.nav-logo {
  width: 25%;
}
.nav-list {
  margin-left: auto;
  position: relative;
  top: 3px;
}
.nav-list li {
  list-style: none;
  display: inline;
  margin-left: 20px;
}

/* ============ main style ============== */
.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.feature-img {
  width: 100%;
}
section {
  margin: 20px 0;
}
h1, h1+p {
  text-align: center;
}
h1 {
  line-height: 2rem;
  margin-bottom: 20px;
}
.container:nth-of-type(2) {
  background: url("images/bg-curve-mobile.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  /* background-color: hsl(240, 75%, 98%); */
  background-color: red;
}
